// SCOPE is for whole page default style


// overwrite theme vars
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter&family=M+PLUS+1p:wght@300&family=Poiret+One&family=Poppins:wght@500;600;700&family=Source+Sans+Pro&display=swap');

// scss
$primary : #171717;
$secondary: #677DB7;
$danger: #9CA3DB;

// css
:root{
    --blackColor : #000000;
    --whiteColor : #ffffff;
    --primaryfont: 'Bungee', cursive, 'Inter', sans-serif, 'M PLUS 1p', sans-serif, 'Poiret One', cursive,'Poppins', sans-serif, 'Source Sans Pro', sans-serif

}

// this is a global set. Everything!! use it sparingly
// sets all elements to 
// a blanket way to do it. Like use it for smooth scrolling
*{
    
}



// import bs styles at bottom!!
@import '~bootstrap/scss/bootstrap.scss';